@font-face {
  src: url(font/1942.ttf);
  font-family: typewriter;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: typewriter;
}

.title {
  text-align: center;
  padding: 130px 0px 80px;
  font-size: 50px;
}

.container {
  min-height: 100vh;
  padding: 20px 40px 250px;
  max-width: 100vw;
  background-color: #FFF0D9;
  background-image: linear-gradient(to right, #C8B8A3, #DDD6CC 11%, rgba(0, 0, 0, 0) 35%, #DDD6CC 65%);
  box-shadow: inset 0 0 75px rgba(255, 210, 0, 0.3), inset 0 0 20px #C8B8A3, inset 0 0 30px #F6E3C8;
  display: flex;
  align-items: center;
  flex-direction: column;

}

#lang {
  display: flex;
  height: 100%;
  width: 70%;
  flex-wrap: wrap;
  text-align: center;
  font-size: 22px;
}

.divlang {
  width: 20%;
  padding: 6px 0;
}

p {
  text-shadow: 3px 3px 5px #0000005f;
}

.title {
  text-shadow: 4px 4px 8px #0000003d;
}

@media screen and (max-width: 1450px) {
  .divlang {
    width: 25%;
  }
}

@media screen and (max-width: 1150px) {
  .divlang {
    width: 33.33%;
  }
}

@media screen and (max-width: 900px) {
  #lang {
    font-size: 18px;
  }

  .title {
    padding: 80px 0px 70px;
    font-size: 40px;
  }
}

@media screen and (max-width: 800px) {
  #lang {
    width: 80%;
    font-size: 15px;
  }
}

@media screen and (max-width: 800px) {
  #lang {
    width: 80%;
    font-size: 15px;
  }
}

@media screen and (max-width: 550px) {
  #lang {
    width: 95%;
    font-size: 10px;
  }

  .title {
    padding: 50px 0px 40px;
    font-size: 30px;
  }
}